<!DOCTYPE html>

<html>
    <head>
         
        <% include partials/head.ejs %> 
        
    </head>    
    <body>
        
        <div class="container">
         
            <div id="title">
                <h1>FreeCodeCamp API Basejump: URL Shortener Microservice</h1>    
            </div>
            <div id="main" style="padding-left: 25px">
                <h2>User Stories:</h2>    
                <ul>
                    <li class="user">I can pass url as a parameter and I will receive a shortened URL in the JSON resonse.</li>
                    <li class="user">When I visit the shortened URL, it will redirect me to my orginal link.</li>
                </ul>
            
                <h2>Example creation usage:</h2>
                <ul>
                    <li class="example">https://camper-api-project-dlagrone1971.c9users.io/orig/https://www.google.com</li>
                    <br>
                    <li class="example">https://camper-api-project-dlagrone1971.c9users.io/orig/https://www.time.org</li>
                </ul>
            
                <h2>Example creation output</h2>
                <h3 class="example">{ "shortUrl": "http://camper-api-project-dlagrone1971.c9users.io/short/https://www.igm30.com",
"orginal_url": "https://www.google.com" }</h3>
            
                <h2>Usage:</h2>
                <h3 class="usage">https://camper-api-project-dlagrone1971.c9users.io/org/123</h3>
            
                <h2>Will redirect to:</h2>
                <h3 class="usage">https://www.google.com/</h3>
            </div>   
        </div>
        
        <% include partials/scripts.ejs %> 
        
        
        
    </body>
</html>

