<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
        
        <% for (var i = 0; i < urls.length; i++) { %>
                <h3><%= urls[i] %></h3>
            </ul>
        <% } %>
        
    </body>
    
</html>
